@use "../base/variables.scss" as *;

.cards {
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;

  &__title {
    margin: auto;
    padding: 2em 0;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
  }

  &__grid {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
  }
}

@media (min-width: 768px) {
  .cards {
    &__title {
      font-size: 36px;
    }
    &__grid {
      max-width: 700px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: start;
      justify-items: stretch;
    }
  }
}

@media (min-width: 1200px) {
  .cards {
    &__title {
      font-size: 40px;
    }
    &__grid {
      max-width: 1200px;
    }
  }
}

@media (min-width: 1900px) {
  .cards {
    &__grid {
      max-width: 1400px;
    }
  }
}
