@use "../base/variables.scss" as *;

.catalog {
  min-height: 500px;
  margin: auto;

  &__filters,
  &__grid {
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: center;
    margin: auto;
    font-weight: 500;
    padding: 2em 0;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px solid $dark;
    text-align: left;

    .catalog__filter {
      width: 135px;
      margin: 0.5em;
      border: none;
      background-color: #fff;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  &__grid {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
    position: relative;
  }

  &__info {
    border: 1px solid $dark;
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 5px;
  }
}

@media (min-width: 768px) {
  .catalog {
    &__title {
      font-size: 36px;
    }

    &__filters,
    &__grid {
      max-width: 700px;
    }

    &__grid {
      &::after {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        width: 200px;
        height: 200px;
        border-top: 2px solid #2f2f2f;
        border-left: 2px solid #2f2f2f;
      }
    }
  }
}

@media (min-width: 1200px) {
  .catalog {
    &__title {
      font-size: 40px;
    }

    &__filters,
    &__grid {
      max-width: 1052px;
    }
  }
}

@media (min-width: 1900px) {
  .catalog {
    &__filters,
    &__grid {
      max-width: 1410px;
    }
  }
}

.catalog-item {
  border: 1px solid $dark;
  background: #fff;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.catalog-item img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.catalog-info {
  border-top: 1px solid $dark;
  padding: 10px;
}
